<div class="row">
  <div class="col-md-8 mx-auto m-2">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom</label>
      <input
        type="text"
        required
        name="nom"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        [(ngModel)]="newcontact.nom"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Prenom</label>
      <input
        type="text"
        [(ngModel)]="newcontact.prenom"
        name="prenom"
        required
        class="form-control"
        id="exampleInputPassword1"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleCheck1">TEL</label>
      <input
        type="text"
        [(ngModel)]="newcontact.tel"
        name="tel"
        required
        class="form-control"
        id="exampleCheck1"
      />
    </div>
    <button (click)="saveContact()" type="submit" class="btn btn-primary">
      Submit
    </button>
  </div>
</div>
